
.container{
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    background-color: #f6f6f6;
}

.map-container {
    flex-grow: 1;
    height: 40vh;
}
.form{

    width: 300px;
    margin: 10px auto;
}